<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="#" class="brand-link text-center">
        <span class="brand-text large-text">Portfolio</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex justify-content-center">
            <div class="image">
                <img src="~/adminlte/asset/img/myself/3.jpg" class="img-circle elevation-2" alt="User Image" />
            </div>
            <div class="info">
                <a href="#" class="d-block medium-text">Alper Kısık</a>
            </div>
        </div>
        <nav class="mt-3">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item" name="Aboutme">
                    <a  class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="AboutMe" name="aboutme">
                        <i class="far fa-circle nav-icon"></i>
                        <p>About Me</p>
                    </a>
                </li>
                <li class="nav-item" name="resume">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Resume" name="resume">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Resume</p>
                    </a>
                </li>
                <li class="nav-item" name="education">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Education" name="education">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Education</p>
                    </a>
                </li>
                <li class="nav-item" name="skills">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Skills" name="skills">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Skills</p>
                    </a>
                </li>
                <li class="nav-item" name="experience">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Experience" name="experience">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Experience</p>
                    </a>
                </li>
                @*
                <li class="nav-item" name="roadmap">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Roadmap" name="roadmap">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Roadmap</p>
                    </a>
                </li>
                <li class="nav-item" name="projects">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Projects" name="projects">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li class="nav-item" name="contact">
                    <a class="nav-link" asp-area="" asp-controller="Portfolio" asp-action="Contact" name="contact">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Contact</p>
                    </a>
                </li>*@
            </ul>
        </nav>
    </div>
</aside>