@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="row">
        <div class="col col-sm-2 pr-3">
            <img src="~/Static/assets/img/myself/1.jpg" class="rounded img-fluid" />
        </div>
        <div class="col col-sm-10">
            <p class="large-text mb-3">I am Alper Kısık <span class="purple-text font-weight-bold">an Enthusiastic Software Engineer</span></p>
            <p class="mb-3 medium-text pre-line">
                highly focused on Full-Stack Development.
                Developed software projects with .Net since 2010 (Started at highschool).
                Interested in C# and javascript but open for other languages.
                Has little professional experience at Game-Development and Mobile Application Development.
                Eager to learn new things and an open minded person.
                A desent team player usually not liking working alone but had to work alone at given projects at most of his profesional carrier.
                Have fun and loves coding.
                likes overcoming challenges and building complex structures.
            </p>

            <p class="medium-text">Looking for job opportunities by working in profesional teams to become more successful software engineer with adding more value to your company</p>
        </div>
    </div>
</div>
