@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text"><b>Istanbul Aydin University | 2015 - 2019</b></h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold">Software Engineering Bachelor Degree</p>
        <span class="pre-line">1 Year English Preb Program
            Took TOEFL exam at the end of preb school
            Education Language : English
        </span>
        <p class="mb-0 mt-3"><b>Studied:</b></p>
        <ul>
            <li>Software Engineering Theories</li>
            <li>React Native,.Net, Asp .Net MVC 4, basics of front-end languages html,css,javascript and Web API</li>
            <li>Software Development Life Cycles</li>
            <li>Computer Science</li>
            <li>Some Machine Learning,Data Mining,software security Theories</li>
            <li>Common Engineering Lessons such as Calculus, Differantial Equations, Physics etc.</li>
        </ul>
    </div>
</div>
<div class="card card-outline card-maroon border-left border-right border-bottom border-maroon">
    <div class="card-header border-bottom border-maroon">
        <h2 class="card-title large-text"><b>Istanbul University | 2012 - 2015</b></h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-maroon" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold">Computer Programming Associate degree</p>
        <p>Education Language : Turkish</p>
        <p class="mb-0"><b>Studied:</b></p>
        <ul>
            <li>Basics of Programming with C#</li>
            <li>Basics of Sql Database</li>
            <li>Basics of English</li>
            <li>Basics of Science Fields such as Physics, Chemistry, Math</li>
        </ul>
    </div>
</div>
<div class="card card-outline card-indigo border-left border-right border-bottom border-indigo">
    <div class="card-header border-bottom border-indigo">
        <h2 class="card-title large-text"><b>Profilo Anatolian Technical Highschool | 2008 - 2012</b></h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-indigo" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold">Database Programming Field</p>
        <span class="pre-line">
            Education Language : Turkish
            Took French Lessons
            Developed C# .Net Applications
            Studied Multi Thread and Socket.IO
        </span>
        <p class="mb-0 mt-3"><b>Studied:</b></p>
        <ul>
            <li>Basic of Programming with C# .Net Windows Form Application</li>
            <li>Multi Thread and Socket.I</li>
            <li>SQL Querries with Northwind Database</li>
        </ul>
    </div>
</div>