
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int veritas = 8, dijitech = 8, pasatempos = 4, appbab = 2;

    int total_experience_month = total_experience_month = veritas + dijitech + pasatempos + appbab;
    int month = total_experience_month % 12;
    int year = total_experience_month / 12;
    string total_experience = year.ToString() + " year " + month.ToString() + " month";
}

<div class="pb-3">
    <h3 class="large-text font-weight-bold">Professional Carrier</h3>
    <h3 class="medium-text font-weight-bold mb-3">Total Experience : @total_experience</h3>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Full-Stack Developer | 8 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        
        <p class="medium-text font-weight-bold mb-0">Company : <a href="https://www.veritasclass.com" target="_blank">Veritas Academy</a></p>
        <p class="medium-text"><b>Date : </b>Febuary 2023 to Now</p>
        <ul>
            <li>
                Creating software solutions for veritas academy with C#, Asp
                net MVC 5, javascript, sql
            </li>
            <li>
                Creating new codes and Modifying existing codes for better
                performance as working full-Stack
            </li>
            <li>
                Worked on veritasclass.com, veritasedu.net,
                consultancy.veritasedu.net and veritas’s windows form application
                automation solutions
            </li>
            <li>
                <a href="http://www.veritasedu.net" target="_blank">veritasedu.net</a>
            </li>
            <li>
                <a href="https://www.veritasclass.com" target="_blank">veritasclass.com</a>
            </li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Junior Game Developer | 4 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : <a href="https://www.instagram.com/pasatemposgames/" target="_blank">Pasatempos Games</a></p>
        <p class="medium-text"><b>Date : </b>Septemper 2021 to December 2021</p>
        <ul>
            <li>
                Creating hypercasual game prorotypes using Unity Game
                Engine and C# coding language
            </li>
            <li>
                publishing prototypes with partnership Trifles Games
            </li>
            <li>
                Improving prototypes according to feedbacks and game design
                documents
            </li>
            <li>Creating game logics and systems</li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Junior Full-Stack Developer | 8 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : <a href="https://www.diji.tech" target="_blank">DIJI.TECH</a></p>
        <p class="medium-text"><b>Date : </b>November 2020 to June 2021</p>
        <ul>
            <li>
                Designs and creates software solutions to solve pain points for
                various clients
            </li>
            <li>
                Execution of design processes using the necessary frontend
                frameworks.
            </li>
            <li>
                Preparation of backend processes with the help of Python
                Django.
            </li>
            <li>Modifies code to fix errors</li>
            <li>
                Worked on web and mobile applications of sites such as
                Yolcu.com, oyunsektoru.org, belediyesikayet.org
            </li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Junior Back-End Developer | 2 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : Appbab</p>
        <p class="medium-text"><b>Date : </b>November 2020 to June 2021</p>
        <ul>
            <li>
                Worked with appbab start-up company founded by Kaan Yazgan former Senior Lead .Net Developer From Makronet Information Technologies Company
            </li>
            <li>
                Studied .Net multi-layer software architecture and design patterns
            </li>
        </ul>
    </div>
</div>

<div class="py-3">
    <h3 class="large-text font-weight-bold">Internships</h3>
    <h3 class="medium-text font-weight-bold">Total Experience : 10 Month</h3>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Intern Software Developer | 3 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : <a href="https://www.makronet.com" target="_blank">Makronet Information Technologies</a></p>
        <p class="medium-text"><b>Date : </b>June 2019 to August 2019</p>
        <ul>
            <li>
                Worked on a C# .Net Web RTC windows form application project which includes security cameras
            </li>
            <li>
                Studied C# .Net
            </li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Intern Software Developer | 3 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : <a href="https://www.makronet.com" target="_blank">Makronet Information Technologies</a></p>
        <p class="medium-text"><b>Date : </b>June 2018 - August 2018</p>
        <ul>
            <li>
                Worked on front-end intern project and algorithms with C# .Net Windows Form Applications
            </li>
            <li>
                Developed Warhammer Fantasy Card Battles on C# .Net Windows Form Application
            </li>
            <li>
                Developed Basic Village Population Simulator on C# .Net Windows console Application
            </li>
            <li>
                Developed Equation Solver on C# .Net Windows Form Application
            </li>
            <li>
                Cloned Introduce Overwatch Game Website (Just Front-End Part)
            </li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Intern Software Developer | 4 Month</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold mb-0">Company : Usishi</p>
        <p class="medium-text"><b>Date : </b>June 2012 - September 2012</p>
        <ul>
            <li>
                Studied on Asp.Net
            </li>
            <li>
                Studied Sql Store Procedures
            </li>
        </ul>
    </div>
</div>


