@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <a href="~/Static/Assets/Resume/resume.pdf" target="_blank" class="large-text">Resume PDF</a>
    <div class="px-5 my-3">
        <img src="~/Static/assets/Resume/resume.jpg" class="elevation-5 rounded img-fluid" />
    </div>
</div>


