
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-outline card-purple border-left border-right border-bottom border-purple">
    <div class="card-header border-bottom border-purple">
        <h2 class="card-title large-text font-weight-bold">Coding</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-purple" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold">Proficient</p>
        <ul>
            <li>C# .Net</li>
            <li>HTML - CSS - Javascript</li>
            <li>Python</li>
            <li>Python - Django</li>
            <li>Sql Queries</li>
            <li>Asp .Net Mvc 5</li>
            <li>Asp .Net Core</li>
            <li>.Net Form Applications</li>
        </ul>
        <p class="medium-text font-weight-bold">Familiar</p>
        <ul>
            <li>MsSql Store Procedures</li>
            <li>Java</li>
            <li>C++</li>
            <li>React Js</li>
            <li>React Native</li>
        </ul>
    </div>
</div>

<div class="card card-outline card-purple border-left border-right border-bottom border-primary">
    <div class="card-header border-bottom border-primary">
        <h2 class="card-title large-text font-weight-bold">Frameworks - Systems</h2>
        <div class="card-tools">
            <button type="button" class="btn btn-tool text-primary" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <p class="medium-text font-weight-bold">Proficient</p>
        <ul>
            <li>Unity Game Engine</li>
            <li>WEB Restful API</li>
            <li>JQuery</li>
            <li>Entity Framework</li>
            <li>Bootstrap 4 and 5</li>
            <li>Linq</li>
        </ul>
        <p class="medium-text font-weight-bold">Familiar</p>
        <ul>
            <li>Framework7</li>
            <li>AWS</li>
            <li>Web RTC</li>
            <li>Ardunio</li>
        </ul>
    </div>
</div>